html,
body,
#root {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}

.main-app {
    min-height: 100%;
}

.add-icon {
    right: 5%;
    bottom: 10%;
}

.footer .p-tabmenu{
    width: 100%;
}

.footer .p-tabmenu .p-tabmenu-nav{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}

.p-menubar-button{
    display: none;
}

.password-field .p-icon-field, .password-field .p-icon-field .p-password-input{
    width:100%;
}

.positive{
    color:green;
}

.negative{
    color:red;
}